@model TodoItem
@{
    ViewBag.Title = "Neue Aufgabe";
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Daten</legend>

        @Html.EditorFor(m => m.Text)
        @Html.EditorFor(m => m.DueDate)

        <input class="btn btn-primary" type="submit" value="Hinzufügen" />
    </fieldset>

    <div>
        @Html.ValidationSummary()
    </div>

}
