
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Neues Todo-Element erzeugen</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Daten</legend>

            <div>
                <label for="text">Beschreibung: </label>
                <input type="text" id="text" name="text" />
            </div>

            <div>
                <label for="dueDate">Fällig am:</label>
                <input type="date" id="dueDate" name="dueDate" />
            </div>

            <input type="submit" value="Hinzufügen"/>
        </fieldset>

    }
</body>
</html>
