@model TodoItem
@{
    ViewBag.Title = "Aufgabe löschen";
}

<div class="well">
    <h1>Aufgabe löschen?</h1>
    <p>Wollen Sie die Aufgabe @Model.Text wirklich löschen?</p>
    <a class="btn btn-default" href="@Url.Action("Index", "Todo")">Nein</a>
    <a class="btn btn-warning" href="@Url.Action("Delete", "Todo", new {id = Model.Id})">Ja</a>
</div>
