@model IEnumerable<TodoItem>
    @{
        ViewBag.Title = "Übersicht";
    }
<script src="~/Scripts/todo.js"></script>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Fälligkeit</th>
        <th>Erledigt</th>
        @if (User.IsInRole("Admin"))
        {
            <th>Optionen</th>
        }
    </tr>
    </thead>
    <tbody id="tbData">
    
    </tbody>
</table>

@Html.Partial("Paginator", (PaginationInfo)ViewBag.PaginationInfo)
